<!Doctype html>
<html>
    <script>
        angular.module('todoApp',[])
          .contro;;er('todoController',function($scope){
            $scope.tasks=[];
            $scope.add=function() {
                $scope.tasks.push($scope.title);
            }
          })
          </script>
          <div ng-app="todoApp" ng-controller="todoController">
            <input ng-model="title"><button ng-click="add()">Add</button>
            <ul>
                <li ng-repeat="t in tasks">{{t}}</li>
            </ul>
        </div>
        </html>